$var title: 帮助信息
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>蛙蛙报警平台</h1>
            <p class="lead">你可以编写一些脚本把自己的主机和业务监控起来，发现异常时调用我们的
            Web API，我们会通知给你，并给你做故障的记录和汇总。</p>
            $if 'user' not in session:
                <p>
                <a href="/qq_login"><img src="static/qq_login.png" /></a>
                </p>
        </div>

        <h2>报警API</h2>
        <p>请求地址：https://warnings.sinaapp.com/sendwarning/{user_id}</p>
<pre>curl https://warnings.sinaapp.com/sendwarning/{user_id} -d "app_id={app_id}&title=磁盘空间不足&content=还剩300M"
</pre>
        <p></p>
        <h2>项目地址</h2>
        <p><a href="https://github.com/onlytiancai/warning-collector" >Github code</a></p>
    </div>
</div>
