$var title: 首页
<div class="row">
    <div class="col-md-3">
        <div class="well sidebar-nav">
            <ul class="nav">
                <li>报警分类</li>
                <li class="active"><a href="#">全部</a></li>
                <li><a href="#">分类1</a></li>
                <li><a href="#">分类2</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <form class="form-inline" role="form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="所有主机">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="所有应用">
            </div>
            <button type="submit" class="btn btn-default">筛选</button>
            <button type="submit" class="btn btn-default">前一周</button>
            <button type="submit" class="btn btn-default">后一周</button>
        </form>
        <h3>2013-09-08 ~ 2013-05-03的报警列表</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>时间</th>
                    <th>主机</th>
                    <th>应用/服务</th>
                    <th>标题</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2013-08-20 13:14</td>
                    <td>10.133.88.706</td>
                    <td>app1</td>
                    <td>磁盘剩余空间不足</td>
                </tr>
                <tr>
                    <td>2013-08-20 13:14</td>
                    <td>10.133.88.706</td>
                    <td>app1</td>
                    <td>磁盘剩余空间不足</td>
                </tr>
                <tr>
                    <td>2013-08-20 13:14</td>
                    <td>10.133.88.706</td>
                    <td>app1</td>
                    <td>磁盘剩余空间不足</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
