$def with (data)
$var title: 首页
<div class="row">
    <div class="col-md-3">
        <div class="well sidebar-nav">
            <ul class="nav">
                <li>报警分类</li>
                <li 
                $if data.cate == 'all': class="active"
                ><a href="?cate=all">全部</a></li>
                $for cate in data.cates:
                    <li
                    $if cate.cate == data.cate: class="active"
                    ><a href="?cate=$cate.cate" >$cate.cate</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <form class="form-inline" role="form" action="" method="GET">
            <input type="hidden" name="cate" value="$data.cate">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="所有主机" name="host" value="$data.host">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="所有应用" name="appname" value="$data.appname">
            </div>
            <button type="submit" class="btn btn-default">筛选</button>
            <a class="btn btn-default" href="?cate=$data.cate&host=$data.host&appname=$data.appname&begin_time=$data.last_week_begin&end_time=$data.last_week_end">前一周</a>
            <a class="btn btn-default" href="?cate=$data.cate&host=$data.host&appname=$data.appname&begin_time=$data.next_week_begin&end_time=$data.next_week_end">后一周</a>
        </form>
        <h3>$data.begin_time ~ $data.end_time的报警列表</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>时间</th>
                    <th>主机</th>
                    <th>应用/服务</th>
                    <th>标题</th>
                </tr>
            </thead>
            <tbody>
            $for warning in data.warnings:
                <tr>
                    <td>$warning.created_on</td>
                    <td>$warning.host</td>
                    <td>$warning.appname</td>
                    <td>$warning.title</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
