$def with (content)
<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <title>$content.title - 蛙蛙报警平台</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="http://lib.sinaapp.com/js/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">蛙蛙报警平台</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                    $if session.get('user_id'):
                        <li 
                        $if content.title == u'首页': class="active"
                        ><a href="/"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
                        <li
                        $if content.title == u'报警分类管理': class="active"
                        ><a href="/cates"><span class="glyphicon glyphicon-th"></span> 分类管理</a></li>
                        <li
                        $if content.title == u'用户信息': class="active"
                        ><a href="/userinfo"><span class="glyphicon glyphicon-user"></span> 用户信息</a></li>
                        <li
                        $if content.title == u'帮助信息': class="active"
                        ><a href="/about"><span class="glyphicon glyphicon-question-sign"></span> 帮助信息</a></li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                    $if session.get('user_id'):
                        <li><a href="/logout">退出登录</a></li>
                    $else:
                        <li
                        $if content.title == u'用户登录': class="active"
                        ><a href="/login">用户登录</a></li>
                    </u>
                </div><!--/.nav-collapse -->
            </div>  
            $:content
            <footer>
            <p>&copy; Wawasoft 2013</p>
            </footer>
        </div>
        <script src="http://lib.sinaapp.com/js/jquery/1.8.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="http://lib.sinaapp.com/js/bootstrap/3.0.0/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/main.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>
